body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
header{
    padding-left: 20px;;
}
nav{
    text-align: center;
}
.current-page{
    background-color: yellow;
}
.prduct-list{
    width: 100;
    margin-top: 50px;
    text-align: center;
}
.product-image{
    border: 3px solid black;
    margin-bottom: 0px;
}

.product:hover{
    background-color: yellow;
    height: 300px;
}
.product{
    height: 300px;
    box-sizing: border-box;
    width: 250px;
    text-align: left;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 20px;

}
.selection{
    width: 250px;
    margin: 30px auto 20px auto;
    font-size: 16px;
    text-align: left;

}
.description{
    width: 200px;
    margin: auto;
    margin-top: 8px;

    font-size: 16px;
    text-align: left;
}
.price{
    margin-top: 0px;
}
hr{
   height: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
.total-calc {
    margin: auto;
    margin-top: 20ppx;
    text-align: center;
  }
.total-calc h4 {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
  }
  .button{
    background-color: yellow;
    border: 2px solid black;
    width: 100px;
    margin : auto;
  }
  .incart{
    font-weight: 900px;
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    line-height: 5px;
  }
  hr.checkout{
    width:600px;
  }
  .remove{

    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }